 /* 自定义全局css */
*{
  box-sizing: border-box;
}
html,body{
	width: 100%;
	height: 100%;
	min-height: 100%;
    background: #f4f5f6;
}
body{
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #595959;
}
a{
  text-decoration: none;
}