// 主色调
$appColor = #42b983;
$appColorRGB = 66, 185, 131;

// 水平垂直居中
flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}
// 单行溢出省略号
text-ellipsis() {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

:export {
    appColor: $appColor;
    appColorRGB: $appColorRGB
}
